<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>Bon Pland</title>
</head>
<body>
    <header>

        <div class="logo">
            <img src="../assets/images/logo-sin-fondo.png" alt="logo bonpland">
            <h1>BONPLAND</h1>
        <!--<img src="../assets/images/nombre-sin-fondo.png" alt="nombre bonpland">-->
        </div>

        <nav class="nav-links">
            <a href="">INICIO</a>
            <a href="">COMPRAR</a>
            <a href="">VENDER</a>
            <a href="">ALQUILAR</a>
            <a href="">CONTACTO</a>
        </nav>       
        
    </header>

    <section>

        <div class="principal">
            <div class="slogan">
                <p>"¿Estas buscando tu lugar ideal?"</p>
                <p>Estas en el lugar ideal</p>
                <p>“Encontremos un lugar llamado</p>
                <p>HOGAR”</p>
            </div>
    
            <div class="img-principal">
                <img src="../assets/images/residenziale.jpg" alt="edificios residenciales">
            </div>
        </div>

        

    </section>
</body>
</html>