<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>Bon Pland</title>
</head>
<body>
    <header>

        <div class="logo">
            <img src="../assets/images/logo-sin-fondo.png" alt="logo bonpland">
            <h1>BONPLAND</h1>
        <!--<img src="../assets/images/nombre-sin-fondo.png" alt="nombre bonpland">-->
        </div>

        <nav class="nav-links">
            <a href="">INICIO</a>
            <a href="">COMPRAR</a>
            <a href="">VENDER</a>
            <a href="">ALQUILAR</a>
            <a href="">CONTACTO</a>
            <a href="#nosotros">NOSOTROS</a>
        </nav>       
        
    </header>

    <section>

        <div class="principal">
            <div class="slogan">
                <p>"¿Estas buscando tu lugar ideal?"</p>
                <p>Estas en el lugar ideal</p>
                <p>“Encontremos un lugar llamado</p>
                <p>HOGAR”</p>
            </div>
    
            <div class="img-principal">
                <img src="../assets/images/residenziale.jpg" alt="edificios residenciales">
            </div>
        </div>

    </section>

    <section id="nosotros">

        <div class="secNos">
            
            <div>
                <img class="imgLlaves" src="../assets/images/entrega-llaves.avif" alt="">
                <h2>NOSOTROS</h2>
            </div>

            <div class="info">
                <p class="nosotros">
                    Somos Agentes Inmobiliarios con muchos años de experiencia en el mercado inmobiliario a través del cual podemos brindarle un asesoramiento personalizado en todo lo referente a compra, venta y alquiler de inmuebles además de valorización de su propiedad entre otros. Tenemos una amplia cartera de oferta de propiedades a nivel nacional e internacional con total transparencia, nuestros servicios abarcan diferentes zonas, ofreciendo un especial y personalizado trato a nuestros clientes. <br><br>
    
                    Nuestra experiencia, seriedad y ética nos permiten disponer de gran prestigio en todo el ámbito de la actividad inmobiliaria, garantizándonos el acceso a selectos clientes, tales como embajadas, consulados y empresas transnacionales de 1° nivel.
                </p>

                <img src="../assets/images/dar-mano.avif" alt="">
                
            </div>

        </div>

    </section>
</body>
</html>